# Ignore examples folder
/examples/

# Ignore tests folder
/tests/

# Ignore IDE configuration folders
.vscode/
.DS_Store

# Ignore object files
/objects/
*.o

# Ignore pdf files
*.pdf

# Ignore the project executable (root binary only)
/megaphone
*.out