version: "3.8"

services:
  mlx_app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
    working_dir: /app
    environment:
      - DISPLAY=host.docker.internal:0
    command: ["sleep", "infinity"]
